[submodule "ctrlp.vim"]
    path = .vim/pack/vendor/start/ctrlp.vim
    url = git@github.com:kien/ctrlp.vim.git

[submodule "nerdtree"]
    path = .vim/pack/vendor/start/nerdtree
    url = git@github.com:preservim/nerdtree.git

[submodule "vim-snazzy"]
    path = .vim/pack/vendor/start/vim-snazzy
    url = git@github.com:connorholyday/vim-snazzy.git

[submodule "copilot"]
    path = .vim/pack/vendor/start/copilot.vim
    url = git@github.com:github/copilot.vim

[submodule "zsh-autocomplete"]
    path = ext/zsh-autocomplete
    url = git@github.com:marlonrichert/zsh-autocomplete.git

[submodule "zsh-autosuggestions"]
    path = ext/zsh-autosuggestions
    url = git@github.com:zsh-users/zsh-autosuggestions.git

[submodule "tmux-plugin-manager"]
    path = .tmux/plugins/tpm
    url = git@github.com:tmux-plugins/tpm.git
