[submodule "ctrlp.vim"]
    path = .vim/pack/ctrlp.vim
    url = git@github.com:kien/ctrlp.vim.git

[submodule "nerdtree"]
    path = .vim/pack/nerdtree
    url = git@github.com:preservim/nerdtree.git

[submodule "vim-snazzy"]
    path = .vim/pack/vim-snazzy
    url = git@github.com:connorholyday/vim-snazzy.git
